// ==========================================================================
// COMPONENTS / #Sideways navigation (bottom content)
   // Styling to support sideways navigation at the bottom of large topic pages
   // eg Excercise sub hub and topic pages www.nhs.uk/live-well/exercise/exercise-health-benefits
// ==========================================================================

//sideways navigation (bottom content)
.beta-nhsuk-navigation-sideways__item.is-active {
    border-left: 4px solid #212b32;
    color: #212b32;
    margin-left: -12px;
    padding-left: 8px;
  }
  
  .beta-nhsuk-navigation-sideways__item {
    padding-bottom: 4px;
    padding-top: 4px;
  }
  
  .beta-nhsuk-navigation-sideways__list {
    list-style: none;
    margin: 0;
    padding-left: 12px;
  }
  
  .beta-nhsuk-navigation-sideways__item--title {
    margin-left: -12px;
  }
  
  
  //sideways nav top border
  .beta-hub-border-top{
    padding-top: 40px;
    border-top: 4px solid hsla(0, 0%, 80%, .5);
  }
  
  //sideways nav curent page - grey background
  .nhsuk-navigation-sideways__active-page-item-grey {
    border-left: 4px solid #212b32;
    //color: #a9cff3;
    //margin-left: -12px;
    padding-left: 8px;
    //background-color: #a9cff3;
    background-color: #d8dde0;
  }
  
  //sideways nav curent page - Blue background
   .nhsuk-navigation-sideways__active-page-item-blue{
    border-left: 4px solid #004281;
    //color: #a9cff3;
    //margin-left: -12px;
     padding-left: 8px;
     background-color: #ccdff1;
 }
  
  //sideways nav curent page 
  .nhsuk-navigation-sideways__link-item {
    padding-left: 8px;
  }
  
  .explore-the-topic-heading {
    margin-bottom: 0;
  }
  
  .explore-the-topic-list {
    padding-top: 8px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  