<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype for designers
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<br><br>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS.UK GPs sideways navigation
       <!-- <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span>-->
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        Sideways navigation design options for AB testing 
      </p>


      <hr>    

      <ul>
        <li><a href="gp-appointments-and-bookings-variant-a">Variant A - control</a></li>
        <li><a href="gp-appointments-and-bookings-variant-b_v1">Variant B - Improved styling </a></li>
        <li><a href="gp-appointments-and-bookings-variant-c">Variant C - Improved styling with no current page </a></li>
        <li><a href="gp-appointments-and-bookings-variant-d">Variant D - No sideways nav </a></li>
        <li><a href="gp-appointments-and-bookings-variant-e">Variant E - Simplified back to topic link </a></li>        
      </ul>

      <hr>

<br><br>


        <!-- 
        <h3>Search</h3>
        <ul>
          <li><a href="search/no-results-found">Search - no results</a></li>
          <li><a href="search/results-hospital">Search results for hospital</a></li>
        </ul>

        <p>Get started by using the:</p>

        <ul>
          <li>
            <a href="/docs/how-tos">how to guides</a>
          </li>
          <li>
            <a href="/docs/page-templates">page templates</a>
          </li>
          <li>
            code snippets for styles and components from the <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>
          </li>

        </ul>
      -->   


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
